/* mobile and general */
:root {
    --console-border: 2px solid rgb(90, 90, 90);
    --console-background: rgb(24, 0, 39);
    --console-font-color: rgb(170, 111, 0);
    --console-font-size: clamp(10px, 0.9vw, 14px);
    --console-font-family: 'Consolas';
    --console-font-weight: bold;
}

/* desktop */
@media (min-width: 769px) {

    :root {
        --console-font-size: clamp(10px, 0.9vw, 14px);
    }
}

#console-show-button {
    z-index: 1000;
    display: block;
    position: fixed;
    width: fit-content;
    height: fit-content;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: var(--console-font-color);
    background-color: var(--console-background);
    font-family: var(--console-font-family);
    font-weight: var(--console-font-weight);
    font-size: var(--font-size);
    border: var(--console-border);
}

#console-show-button:hover {
    cursor: pointer;
    opacity: 75%;
}

#console-window {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    z-index: 1000;

    padding: 0px 10px;

    background-color: var(--console-background);

    color: var(--console-font-color);
    font-size: var(--console-font-size);
    font-family: var(--console-font-family);
    font-weight: bold;

    border: var(--console-border);
    border-radius: 5px;
    justify-content: flex-end;
}

#console-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    cursor: default;
    border-bottom: 1px solid rgb(62, 62, 62);
}

#console-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

#console-title {
    flex: 2;
    text-align: center;
    white-space: nowrap;
}

#console-buttons-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.console-button {
    color: var(--console-font-color);
    background-color: var(--console-background);
    font-family: var(--console-font-family);
    font-weight: var(--console-font-weight);
    font-size: var(--console-font-size);
    border: none;
}

.console-button:hover {
    cursor: pointer;
    opacity: 75%;
}

#console-content-wrapper {
    height: 200px;

    overflow-y: auto;

    display: flex;
    flex-direction: column-reverse;
}

#console-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    word-break: break-all;
}

#console-command-bar {
    padding-bottom: 7px;
    display: flex;
}

#console-command {
    background-color: var(--console-background);

    color: var(--console-font-color);
    font-size: var(--console-font-size);
    font-family: var(--console-font-family);
    font-weight: var(--console-font-weight);

    border: none;

    display: flex;
    flex: 99%;
}

#console-command:focus {
    outline: none;
}