/* mobile and general */
:root {
    --image-width: 64px;

    --details-container-width: 150px;
    
    --inner-flex-gap: 5px;
    --outer-flex-gap: 5px;
}

/* desktop */
@media (min-width: 769px) {
    
    :root {
        --image-width: 96px;
        
        --details-container-width: 190px;

        --inner-flex-gap: 15px;
        --outer-flex-gap: 10px;
    }
}

#hosts-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--outer-flex-gap);
    border: var(--container-border);
    padding: 10px;
    justify-content: space-evenly;
}

.host {
    box-sizing: border-box;
    min-width: fit-content;
    max-width: 100%;

    float: left;
    display: flex;
    flex-direction: row;
    border: var(--container-border);
    gap: var(--inner-flex-gap);
}

.host img {
    width: var(--image-width);
}

.host .details-container {
    box-sizing: border-box;
    width: var(--details-container-width);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.host .button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.host .button-container>button {
    flex: 1;
}