/* mobile and general */
:root {
    --host-image-width: 64px;
}

/* desktop */
@media (min-width: 769px) {

    :root {
        --host-image-width: 96px;
    }
}

#hosts-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: var(--container-border);
    padding: 10px;
    justify-content: space-evenly;
}

.host {
    box-sizing: border-box;
    min-width: fit-content;
    max-width: 100%;

    float: left;
    display: flex;
    flex-direction: row;
    border: var(--container-border);
    gap: 15px;
}

.host img {
    width: var(--host-image-width);
}

.host .details-container {
    box-sizing: border-box;
    width: 190px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.host .button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.host .button-container>button {
    flex: 1;
}