/* mobile and general */
:root {
    --container-border: 1px solid rgb(118, 118, 118);

    --max-width: 95%;
    --background-color: #122C34;
    --font-color: #F6FFF8;
    --font-size: 16px;

    --host-image-width: 64px;
    
    --console-border: 2px solid rgb(90, 90, 90);
    --console-background: rgb(24, 0, 39);
    --console-font-color: rgb(170, 111, 0);
    --console-font-size: clamp(10px, 0.9vw, 14px);
    --console-font-family: 'Consolas';
    --console-font-weight: bold;
    
    --footer-link-color: rgb(0, 145, 255);
}

/* desktop */
@media (min-width: 769px) {
    
    :root {
        --max-width: 95%;
        --host-image-width: 96px;
        --font-size: ;
        --console-font-size: clamp(10px, 0.9vw, 14px);
    }
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: var(--max-width);
    margin: auto;

    background-color: var(--background-color);

    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    color: var(--font-color);

    padding: 10px;
}

h1 {
    text-align: center;
}

hr {
    margin: 15px 0px;
}

#arduino-container {
    padding: 10px;
    border: var(--container-border);
}

#hosts-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: var(--container-border);
    padding: 10px;
    justify-content: space-evenly;
}

.host {
    box-sizing: border-box;
    min-width: fit-content;
    max-width: 100%;

    float: left;
    display: flex;
    flex-direction: row;
    border: var(--container-border);
    gap: 15px;
}

.host img {
    width: var(--host-image-width);
}

.host .details-container {
    box-sizing: border-box;
    width: 190px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.host .button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.host .button-container>button {
    flex: 1;
}

#console-show-button {
    z-index: 1000;
    display: block;
    position: fixed;
    width: fit-content;
    height: fit-content;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: var(--console-font-color);
    background-color: var(--console-background);
    font-family: var(--console-font-family);
    font-weight: var(--console-font-weight);
    font-size: var(--font-size);
    border: var(--console-border);
}

#console-show-button:hover {
    cursor: pointer;
    opacity: 75%;
}

#console-window {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    z-index: 1000;

    padding: 0px 10px;

    background-color: var(--console-background);

    color: var(--console-font-color);
    font-size: var(--console-font-size);
    font-family: var(--console-font-family);
    font-weight: bold;

    border: var(--console-border);
    border-radius: 5px;
    justify-content: flex-end;
}

#console-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    cursor: default;
    border-bottom: 1px solid rgb(62, 62, 62);
}

#console-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

#console-title {
    flex: 2;
    text-align: center;
    white-space: nowrap;
}

#console-buttons-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.console-button {
    color: var(--console-font-color);
    background-color: var(--console-background);
    font-family: var(--console-font-family);
    font-weight: var(--console-font-weight);
    font-size: var(--console-font-size);
    border: none;
}

.console-button:hover {
    cursor: pointer;
    opacity: 75%;
}

#console-content-wrapper {
    height: 200px;

    overflow-y: auto;

    display: flex;
    flex-direction: column-reverse;
}

#console-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    word-break: break-all;
}

#console-command-bar {
    padding-bottom: 7px;
    display: flex;
}

#console-command {
    background-color: var(--console-background);

    color: var(--console-font-color);
    font-size: var(--console-font-size);
    font-family: var(--console-font-family);
    font-weight: var(--console-font-weight);

    border: none;

    display: flex;
    flex: 99%;
}

#console-command:focus {
    outline: none;
}

footer {
    text-align: center;
    padding: 10px;
}

footer>a,
a:visited {
    color: var(--footer-link-color);
    text-decoration: none;
}